In [16]:
import pandas as pd

from datetime import timedelta
from rich import print

In [2]:
df = pd.read_csv('computation_info.csv')

In [5]:
df.head()

   File    Loading  Get groups  Save groups  Frames  Groups
0     0  18.234238  488.972620    93.004680   22539  348750
1     1  20.720109  527.694561   106.863306   25076  378115
2     2  17.605708  388.729535    88.094673   25288  303488
3     3  23.312235  522.043433   114.181649   27182  390687
4     4  25.063660  546.745502   119.163804   28582  402538

In [6]:
df.describe()

,File,Loading,Get groups,Save groups,Frames,Groups
count,60.000000,60.000000,60.000000,60.000000,60.000000,6.000000e+01
mean,29.500000,35.789046,1325.108503,215.447477,24983.066667,6.620951e+05
std,17.464249,17.953071,1095.926497,121.020748,5033.742601,3.292165e+05
min,0.000000,8.604846,255.326318,57.502393,9729.000000,1.908950e+05
25%,14.750000,22.574677,541.982767,117.918265,23877.750000,3.995752e+05
50%,29.500000,37.279416,1289.510724,226.700298,26649.500000,7.002560e+05
75%,44.250000,45.697693,1600.649237,262.961499,27970.000000,8.197015e+05
max,59.000000,114.347182,7184.167171,755.770380,31274.000000,2.019752e+06

In [19]:
for (value, col_name) in zip(list(df.sum(axis = 0)), df.columns):
    print("Column: {} --- Cumulative sum: {}".format(col_name, value))

print("Total time spent in calculations is {} seconds".format(sum((list(df.sum(axis=0)))[1:4])))
print(timedelta(seconds = sum((list(df.sum(axis=0)))[1:4])))

Column: File --- Cumulative sum: 1770.0

Column: Loading --- Cumulative sum: 2147.342779159546

Column: Get groups --- Cumulative sum: 79506.51017332077

Column: Save groups --- Cumulative sum: 12926.848603725433

Column: Frames --- Cumulative sum: 1498984.0

Column: Groups --- Cumulative sum: 39725708.0

Total time spent in calculations is 94580.70155620575 seconds

1 day, 2:16:20.701556