In [1]:
import pandas as pd

from datetime import timedelta
from rich import print

In [2]:
df = pd.read_csv('computation_info_1000ms.csv')

In [3]:
df.head()

   File   Loading  Get groups  Save groups  Frames  Groups
0     0  1.171294   19.395993     3.726591     902   13955
1     1  1.360524   20.959424     4.101719    1004   15136
2     2  1.187658   15.500715     3.334994    1012   12143
3     3  1.329412   20.618108     4.503632    1088   15639
4     4  1.544123   21.498342     4.469382    1144   16123

In [4]:
df.describe()

,File,Loading,Get groups,Save groups,Frames,Groups
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,29.500000,2.120244,52.922732,7.980891,999.883333,26491.083333
std,17.464249,1.049612,44.013745,4.434209,201.284022,13170.884631
min,0.000000,0.578786,9.997668,2.136880,390.000000,7634.000000
25%,14.750000,1.388289,21.363612,4.492602,955.500000,16002.000000
50%,29.500000,2.195114,51.814524,8.396070,1066.500000,28027.000000
75%,44.250000,2.592340,63.358606,9.781241,1119.250000,32781.000000
max,59.000000,6.776448,289.945949,27.653443,1251.000000,80819.000000

In [5]:
for (value, col_name) in zip(list(df.sum(axis = 0)), df.columns):
    print("Column: {} --- Cumulative sum: {}".format(col_name, value))

print("Total time spent in calculations is {} seconds".format(sum((list(df.sum(axis=0)))[1:4])))
print(timedelta(seconds = sum((list(df.sum(axis=0)))[1:4])))

Column: File --- Cumulative sum: 1770.0

Column: Loading --- Cumulative sum: 127.2146565914154

Column: Get groups --- Cumulative sum: 3175.3639421463013

Column: Save groups --- Cumulative sum: 478.8534779548645

Column: Frames --- Cumulative sum: 59993.0

Column: Groups --- Cumulative sum: 1589465.0

Total time spent in calculations is 3781.432076692581 seconds

1:03:01.432077